<hr>
<div class="container">

    <div class="row">
        <div class="col">
            <dx-data-grid [dataSource]="dataSource" keyExpr="ProductID" [allowColumnReordering]="true"
                [columnAutoWidth]="false" [showBorders]="true">


                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-search-panel [visible]="true"></dxo-search-panel>

                <dxi-column dataField="ProductID">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="ProductName">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="QuantityPerUnit">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="SupplierID">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="UnitPrice">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="UnitsInStock">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="UnitsOnOrder">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="ReorderLevel">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="Discontinued">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>

                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>


                <dxi-column type="buttons">
                    <dxi-button name="edit"></dxi-button>
                    <dxi-button name="delete"></dxi-button>
                    <dxi-button hint="Clone" icon="airplane" [visible]="true" [onClick]="onClick"></dxi-button>
                </dxi-column>
                <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" mode="row">
                </dxo-editing>
                <dxo-selection mode="single"></dxo-selection>

                <dxo-summary>
                    <dxi-total-item column="ProductID" summaryType="count">
                    </dxi-total-item>
                    <dxi-total-item column="UnitPrice" summaryType="avg">
                    </dxi-total-item>
                </dxo-summary>

                <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>
                <dxo-toolbar>
                    <dxi-item name="groupPanel"></dxi-item>
                    <dxi-item location="after">
                        <dx-button [text]="expanded ? 'Collapse All' : 'Expand All'" [width]="136"
                            (onClick)="expanded = !expanded">
                        </dx-button>
                    </dxi-item>
                    <dxi-item name="addRowButton" showText="always"></dxi-item>
                    <dxi-item name="exportButton"></dxi-item>
                    <dxi-item name="columnChooserButton"></dxi-item>
                    <dxi-item name="searchPanel"></dxi-item>
                </dxo-toolbar>


                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [showNavigationButtons]="true"></dxo-pager>

            </dx-data-grid>
        </div>
    </div>

</div>
<hr>